@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Rubik:wght@300;900&display=swap");

:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Rubik", sans-serif;
  --primary: #4e54c8;
  --primary-dark: #212688;
  --secondary: #09c372;
  --light: #f8f8f8;
  --dark: #2a2a2a;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: var(--font-secondary);
}

body {
  background: var(--light);
  color: var(--dark);
  font-family: var(--font-secondary);
}
